<?php
/*
 * This document has been generated with
 * https://mlocati.github.io/php-cs-fixer-configurator/#version:2.16.3|configurator
 * you can change this configuration by importing this file.
 */
return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        '@PSR1' => true,
        '@PSR2' => true,
        '@PhpCsFixer' => true,
        '@PhpCsFixer:risky' => true,
        'increment_style' => ['style'=>'post'],
        'multiline_whitespace_before_semicolons' => ['strategy'=>'no_multi_line'],
        'no_superfluous_phpdoc_tags' => ['allow_mixed'=>false,'allow_unused_params'=>false],
        'ordered_imports' => true,
        'php_unit_internal_class' => false,
        'php_unit_method_casing' => ['case'=>'snake_case'],
        'php_unit_test_class_requires_covers' => false,
        'phpdoc_no_alias_tag' => ['replacements'=>['property-write'=>'property','type'=>'var','link'=>'see']],
        'single_line_comment_style' => ['comment_types'=>['hash']],
        'final_internal_class' => false,
        'native_constant_invocation' => false,
        'native_function_invocation' => false,
        'no_unset_on_property' => false,
        'php_unit_strict' => false,
        'php_unit_test_annotation' => ['style'=>'annotation'],
        'php_unit_test_case_static_method_calls' => ['call_type'=>'this'],
        'psr4' => true,
        'strict_comparison' => false,
        'strict_param' => false,
        'not_operator_with_successor_space' => true,
        'list_syntax' => ['syntax'=>'short'],
        'simplified_null_return' => true,
    ])
    ->setFinder(PhpCsFixer\Finder::create()
        ->exclude('config')
        ->exclude('vendor')
        ->in(__DIR__)
        ->name('*.php')
        ->notName('_ide_helper*.php')
        ->ignoreDotFiles(true)
        ->ignoreVCS(true)
    )
;
